<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.2046487606613!2d88.38687751402517!3d22.83191688504987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f890c68fd5b7d5%3A0xaf8c1ecda2d40180!2sPirtala%20Rd%2C%20Banarjee%20Para%2C%20Shyamnagar%2C%20Kolkata%2C%20West%20Bengal%20743128!5e0!3m2!1sen!2sin!4v1623300971844!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>